.login-logo-half{
    background-color:#f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-logo-half img{
    height: 150px;
}
#wrapper .sidebar{
    background-color: #000;
}
#wrapper .sidebar .sidebar-brand{
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrapper .sidebar .sidebar-brand img{
    height: 75px;
}
#bladeAdminTitleBar{
    background-color: #fff;
    height:65px;
    margin: 5px;
}
.bladeAdminTitle{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.bladeAdminTitle h2{
    margin:1% 0;

}

